<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <%= yield %>

    <p>There are <%= total_users%> users with a total of <%= total_interests %> interests.</p>
  </body>
</html>